.burger-menu {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #25253e;
  display: none;
  justify-content: center;
}

.burger-menu--open {
  display: flex;
}

.burger-menu--closed {
  display: none;
}

.burger-menu ul {
  padding: 0;
  margin-block-start: 62%;
}

.burger-menu li {
  padding-bottom: 24px;
}

.burger-menu__item {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: #e6e6e6;
  list-style: none;
}

.burger-button {
  display: flex;
  background: transparent;
  border: 0;
  padding: 0;
}

.burger-button--position--header {
  margin: 23% 29% 0 29%;
}

.burger-button--open {
  display: block;
}

.burger-button--closed {
  display: block;
  position: absolute;
  top: 4%;
  left: 7.3%;
}

@media (min-width: 1200px) {
  .burger-button {
    display: none;
  }

  .burger-menu {
    display: none;
  }
}
