.addresses {
  margin: 48px 24px 0px 24px;
}

.addresses__list {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  padding: 0;
  margin-top: 24px;
}

.addresses__list li {
  margin-top: 32px;
  padding: 0px 13px;
}

.addresses__list li:first-child {
  margin-top: 0px;
}

.addresses__item {
  display: flex;
  flex-direction: column;
  color: #9b9b9b;
  cursor: pointer;
}

.addresses__item div:first-child span {
  color: #9b9b9b;
}

.addresses__item:hover div:first-child span {
  color: #000;
}

.addresses__item:hover .marker-icon path {
  fill: #3139ce;
}

.addresses__city-name {
  display: flex;
  align-items: center;
  column-gap: 11px;
}

.addresses__city-name span {
  font-weight: 600;
  font-size: 16px;
  line-height: 19.2px;
}

.addresses__full-description {
  margin-top: 8px;
}

.map-container {
  margin-top: 18px;
  position: absolute;
  background-image: url("../assets/images/LocationX2.png");
  background-position: center;
  background-size: cover;
  left: 0;
  right: 0;
  width: 100%;
  height: 369px;
}

@media (min-width: 1200px) {
  .map-container {
    margin-top: -33px;
    position: relative;
    background-image: url("../assets/images/LocationX2.png");
    background-position: center;
    background-size: cover;
    width: 738px;
    height: 369px;
  }

  .addresses {
    margin: 188px 82px 0px 82px;
    display: flex;
    justify-content: space-between;
  }

  .addresses__city-name span {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }

  .addresses__full-description span {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .addresses__list {
    margin-top: 40px;
  }

  .addresses__list li {
    margin-top: 20px;
    padding: 0px;
  }
}
