.banner-with-cat {
  margin-top: 60px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.banner-with-cat__container {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #1e1e46;
}

.banner-with-cat__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;

  color: #ffffff;
}

.banner-with-cat__description {
  margin-top: 16px;
  max-width: 285px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #e6e6e6;
}

.banner-with-cat__button {
  margin: 157px auto 0;
}

.cat-image {
  position: absolute;
  display: block;
  width: 443px;
  top: 120px;
  left: 15px;
}

@media (min-width: 768px) {
  .banner-with-cat {
    margin-top: 126px;
    padding: 0 80px;
  }
}
