.banner-with-cat {
  margin-top: 55px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.banner-with-cat__container {
  width: 100%;
  padding: 24px;
  background-color: #1e1e46;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-with-cat__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;

  color: #ffffff;
}

.banner-with-cat__description {
  margin-top: 16px;
  max-width: 285px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #e6e6e6;
}

.banner-with-cat__title-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-with-cat__button {
  margin: 7px auto 0;
}

.banner-with-cat__image-container {
  position: relative;
  width: 350px;
  height: 150px;
  margin: 0 auto;
}

.cat-image-mobile {
  position: absolute;
  width: 360px;
  top: -58px;
  left: -8px;
}

@media (min-width: 768px) {
  .banner-with-cat {
    margin-top: 126px;
    padding: 0 80px;
  }

  .banner-with-cat__container {
    border-radius: 8px;
  }
}
