.contact-us {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}

.contact-us__managers {
  margin-top: 32px;
  max-width: 327px;
  padding-left: 11px;
  padding-right: 11px;
}

.contact-us__managers > div:last-child {
  margin-top: 40px;
}

.manager__contact-info {
  position: relative;
  min-height: 374px;
}

.manager {
  position: relative;
  z-index: 9;
}

.manager__avatar {
  min-width: 244px;
  height: 100%;
}

.communication-contacts {
  position: absolute;
  left: 16px;
  bottom: 20px;
  display: flex;
  background: rgba(72, 72, 72, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}

.communication-contacts__divider {
  position: absolute;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 0.4px solid rgba(0, 0, 0, 0.2);
}

.communication-contacts div {
  padding: 9px 27px;
}

.shadow-container {
  display: flex;
  min-width: 244px;
  min-height: 244px;
  text-align: center;
  flex-direction: column;
  box-shadow: -2.44156px 0px 7px rgba(56, 57, 77, 0.1);
  border-radius: 8px;
}

.manager_shadow-bottom > div:last-child {
  position: absolute;
  justify-content: end;
  top: 130px;
  left: 50px;
}

.manager_shadow-top > div:last-child {
  position: absolute;
  justify-content: start;
  top: 0px;
  left: 0px;
}

.manager_shadow-top > div:first-child {
  position: absolute;
  top: 130px;
  left: 50px;
}

.manager_shadow-bottom .shadow-container > div {
  padding-bottom: 36px;
}

.manager_shadow-top .shadow-container > div {
  padding-top: 36px;
}

.manager__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #25253e;
}

.manager__post {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #9b9b9b;
}

.contact-us__form {
  margin-top: 23px;
}

.contact-us__form form > div {
  width: 100%;
}

.contact-us__form form > div {
  width: 100%;
  margin-top: 18px;
}

.contact-us__form input[type="text"],
.contact-us__form textarea,
.contact-us__form select {
  padding: 0 16px;
  min-height: 44px;
  background: #f7f7f7;
  border: 1px solid #e1e1e4;
  border-radius: 4px;
}

.contact-us__form textarea {
  padding-top: 12px;
}

.contact-us__form input[type="text"]::placeholder,
.contact-us__form textarea {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 127.5%;
  color: #9b9b9b;
}

.email-input,
.phone-input {
  display: flex;
  flex-direction: column;
}

.contact-us__form label {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #545462;
}

.email-input input,
.phone-input input {
  margin-top: 12px;
}

.country-select {
  display: flex;
  flex-direction: column;
}

.country-select select {
  margin-top: 12px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../assets/images/svg/SelectArrowDown.svg");
  background-position: 95%;
  background-repeat: no-repeat;
}

.country-select select {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #1d1d1d;
}

.input-radio-genders {
  display: flex;
  flex-direction: row;
}

.message-textarea {
  display: flex;
  flex-direction: column;
}

.message-textarea textarea {
  min-height: 98px;
  margin-top: 12px;
}

.consent-checkbox {
  display: flex;
  align-items: start;
}

.consent-checkbox label {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #797979;
}

.form-description {
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #9b9b9b;
}
