.popular-questions {
  margin-top: 45px;
  padding: 0 22px;
}

.popular-questions__accordions {
  margin-top: 21px;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;

  padding: 0 12px;
}

.question-accordion {
  width: 100%;
  background: #ffffff;
  box-shadow: -2.44156px 0px 7px rgba(56, 57, 77, 0.1);
  border-radius: 16px;
  border: 0;
  padding: 20px 10px;
}

.question-accordion__button {
  border: 0;
  background-color: transparent;
  width: 100%;
}

.question-accordion__button-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-accordion__title {
  display: flex;
  align-items: center;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #25253e;
}

.question-accordion__title p {
  margin-left: 12px;
}

.question-accordion__content {
  display: none;
  margin-top: 34px;
  padding: 0px 8px;

  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 22px !important;
}

.accordion-icon {
  margin-right: 5px;
}

.minus-icon {
  display: none;
}

@media (min-width: 768px) {
  .popular-questions {
    margin-top: 83px;
    padding: 0 80px;
  }

  .question-accordion {
    padding: 41px 33px;
  }

  .question-accordion__title {
    font-size: 28px;
    line-height: 36px;
  }

  .question-accordion__title p {
    margin-left: 24px;
  }

  .popular-questions__accordions {
    margin-top: 40px;
    padding: 0;
    row-gap: 14px;
  }

  .accordion-icon {
    margin-right: 9px;
  }

  .question-accordion__title img {
    width: 48px;
    height: 48px;
  }

  .question-accordion__content {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #9b9b9b;
  }
}
