header {
  display: grid;
  grid-template-columns: 17.1vw 52.5vw 30.4vw;
  background-color: #25253e;
}

.header__button {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  box-sizing: border-box;
  border: 1px solid #d6d7f5;
  text-decoration: none;
  border-radius: 4px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  margin-top: 14%;
  height: fit-content;
  min-height: 44px;
  min-width: 98px;
  border: none;
  background: #3139ce;
}

.header__menu-desktop {
  display: none;
}

.button_signup {
  display: none;
}

.header__logo {
  width: 82px;
  height: 28px;
  margin-top: 12%;
}

@media (min-width: 720px) {
  header {
    height: 90px;
  }
}

@media (min-width: 1200px) {
  header {
    display: grid;
    grid-template-columns: 22.3vw 42.2vw 30vw;
    background-color: #25253e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header__menu-desktop {
    display: flex;
    column-gap: 30px;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: #9b9b9b;
    height: fit-content;
    margin-top: 37px;
  }

  .header__item {
    list-style-type: none;
    cursor: pointer;
  }

  .header__button {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    box-sizing: border-box;
    border: 1px solid #d6d7f5;
    text-decoration: none;
    border-radius: 4px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    margin-top: 6%;
    height: fit-content;
    min-height: 41px;
    min-width: 124px;
  }

  .header__buttons {
    display: flex;
    justify-content: end;
    column-gap: 20px;
  }

  .header__logo {
    width: 117px;
    height: 40px;
    margin-top: 8%;
    margin-left: 25%;
  }

  .button_signup {
    border: none;
    display: block;
    background: #3139ce;
  }
}
