html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: contents;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-family: "IBM Plex Sans";
  font-style: normal;
}

.ellipse {
  background-color: #e6e6e6;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.ellipse--active {
  background-color: #3139ce;
}
